{% extends '_base.html' %}
{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="book-detail">
    <h2>{{ book.title }}</h2>
    {% if book.cover %}
    <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}
    <p>Author: {{ book.author }}.</p>
    <p>Price: {{ book.price }} $.</p>
    {% if book.reviews.all %}
    <p>{{ separator }}</p>
    <div>
    <h3>Reviews</h3>
    <ul>
        {% for review in book.reviews.all %}
        <li><i>{{ review.review }}</i> ** <b>{{ review.author }}</b></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    <p>{{ separator }}</p>
    <form action="{% url 'charge' %}" method="post">
    {% csrf_token %}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"
    data-description="{{ book.title }}"
    data-amount="{{ book.get_pay_price }}"
    data-locale="auto">
    </script>
</form>
</div>

{% endblock content %}