<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
<h1>Homepage</h1>
<p><img class='bookcover' src="{% static 'images/djangoforprofessionals.jpg' %}" alt="DfP"></p>
{% if user.is_authenticated %}
    {% if user.email %}
        <h2>Hi, buddy! </h2>
        <h4>Your mail is {{ user.email }}?</h4><br>
        <p>This image is for you:</p>
        <p><a href="{% url 'logout' %}">LOG OUT</a>, if you want :)</p>
    {% else %}
        <h1>Hi, buddy! Your name is {{ user.username }}?</h1>
    {% endif %}
{% else %}
    <p>You must <a href="{% url 'login' %}">login</a></p>
{% endif %}
{% endblock content %}